* {
  box-sizing: border-box;
  }


  .box {
    position: relative;
    float: left;
    width: 40%;
    display: block;
    padding-top: 40%;
    margin: 5%;
    border-radius: 10%;
  }
  .box:hover {
    cursor: pointer;
  }
  .gray-black, .gray-pink, .gray-yellow, .gray-blue {
    box-shadow: inset 0 0 0 1px #D2D2D2;
    background-color: #D2D2D2;
  }
  .gray-black:hover {
    background-color: rgba(33,36,39,0.5);
    transition: background-color 0.25s ease;
  }
  .gray-pink:hover{
    background-color: rgba(255,89,100,0.5);
    transition: background-color 0.25s ease;
  }
  .gray-yellow:hover{
    background-color: rgba(255,184,43,0.5);
    transition: background-color 0.25s ease;  
  }
  .gray-blue:hover{
    background-color: rgba(53,167,255,0.5);
    transition: background-color 0.25s ease;
  }

  .pink {
    box-shadow: inset 0 0 0 1px var(--red);
    background-color: var(--red);
  }  
  .yellow {
    box-shadow: inset 0 0 0 1px var(--yellow);
    background-color: var(--yellow);
  }
  .blue {
    box-shadow: inset 0 0 0 1px var(--blue);
    background-color: var(--blue);
  }
  .black {
    box-shadow: inset 0 0 0 1px var(--black);
    background-color: var(--black);
  }


/* make the colors a variable so we can reuse them across the site easily */
:root {
  --red: #FF5964;
  --blue: #35A7FF;
  --black: #212427;
  --white: whitesmoke;
  --gray: rgba(128, 128, 128, 0.25);
  --yellow: #ffb82b;
}
